{% extends 'base.html' %}
{% block content %}
    {# We are using DTL to render the context values received #}
    <h2>Total Students Enrolled {{count}}</h2>
    <h1>Student Details</h1>
    <table border="1">
        <tr><th>Sl No</th><th>Name</th><th>Semester</th><th>Course</th><th colspan="2">Action</th></tr>
        {% for stud in data %}
        <tr>
            <td>{{stud.slno}}</td><td>{{stud.name}}</td><td>{{stud.sem}}</td><td>{{stud.course}}</td><td><a id="del_btn" href="/students/delete/{{stud.id}}">Delete</a></td>
            <td><a href="/students/update/{{stud.id}}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% include 'partials/form.html' %}
{% endblock %}