<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Catalog</title>
</head>
<body>
    <h1>Course Catalog</h1>
    <hr>
    <h2>Total PG Courses {{count.PG}}</h2>
    <h2>Total UG Courses {{count.UG}}</h2>
    {% if count.PG > 3 %}
    <h2>NAAC Accrediated</h2>
    {% endif %}
    <h2><u>Available Courses</u></h2>
    <ul>
        {% for item in courses %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
</body>
</html>